body{
  background-image:url("fridge2.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#title{
font-family: fantasy;
text-align: center;
font-size: 60px
}

h2{
  font-family: Comic Sans Ms;
  font-size: 30px;
  text-align: center;
}
